<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <h1>Upload Your Audio File here</h1>
    Please note, that the file has to be in a .wav format. Make sure that the audio contains a person speaking.

    <form action="/" method="POST" enctype="multipart/form-data">

        <label for="user_file">Upload Your File</label>
        <br></br>
        <input type="file" name="user_file">
        <br></br>
        <button type="submit">Upload</button>

    </form>
    Uploading and Processing might take up to 5 Minutes. Please be patient

</body>

</html>