<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Audio Summary</title>
    </head>
    <body>
        <h1>{{file_name[:-4]}}</h1>
        <h2>Summary</h2>
        <table>
            <tr>
                <td>
                    <ul>
                        <li>{{bullets[0]}}</li><p></p>
                        <li>{{bullets[1]}}</li><p></p>
                        <li>{{bullets[2]}}</li><p></p>
                    </ul>
                </td>
                <td>
                    <img src="{{image}}" width="700" height="500">
                </td>
            </tr>
            <tr>
                <td>
                    Your Audio Recording
                    <audio controls>
                        <source src="{{audio_path}}" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                </td>
            </tr>
        </table>
        <h2>Protocol</h2>
        {{transcription}}
    </body>
    </html>