<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Audio Summary</title>
    </head>
    <body>
        <h1>Your File</h1>
        <h2>Summary</h2>
        <table>
            <tr>
                <td>
                    <ul>
                        <li>{{bullets[0]}}</li><p></p>
                        <li>{{bullets[1]}}</li><p></p>
                        <li>{{bullets[2]}}</li><p></p>
                    </ul>
                </td>
                <td>
                    <img src="{{image}}">
                </td>
            </tr>
        </table>
        <h2>Protocol</h2>
        {{transcription}}
    </body>
    </html>